:root {
    --navcolor: #ccc;
    --bodycolor: #ddd;
    --textcolor: #333;
}
.darkmode {
    --navcolor: #222;
    --bodycolor: #333;
    --textcolor: #ddd;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bodycolor);
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
.all-content {
    display: inline;
}
.navbar {
    background-color: var(--navcolor);
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
#brand-icon {
    height: 50px;
    margin-right: 20px;
}
#theme-switch {
    height: 30px;
    width: 30px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--navcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg {
    fill: #888;
    height: 27px;
    width: 27px;
    align-self: first baseline;
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}
#profile {
    height: 40px;
    width: 40px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--navcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile svg {
    fill: #888;
    height: 35px;
    width: 35px;
}
#carticon {
    height: 45px;
    width: 45px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--navcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
#carticon svg {
    fill: #888;
    height: 35px;
    width: 35px;
}
.navbar-brand {
    font-size: x-large;
}
.nav-link {
    color: #2157a7;
    font-size: large;
}
.desc {
    color: var(--textcolor);
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
.description {
    font-size: x-large;
}
.links1 {
    text-decoration: none;
    color: #cccccc;
    font-size: large;
    text-align: center;
    align-content: center;
}
.links2 {
    text-decoration: none;
    color: #2157a7;
    font-size: large;
    text-align: center;
    align-content: center;
}
.links2:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: large;
    text-align: center;
    align-content: center;
}
/* Right Click Menu */
.context-menu {
    position: absolute;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
}
.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}
.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 0px solid black;
}
.context-menu ul li a {
    text-decoration: none;
    color: black;
}
.context-menu ul li:hover {
    background: darkgray;
}
.list-group-item {
    /* background-color: var(--bodycolor); */
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}